* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: nunito, sans-serif;
    font-size: 62.5%;
    color: white;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

header {
  background-color: rgba(0, 0, 0,0.9);
  padding: 10px;
  padding-left: 4rem;
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-height: 6rem;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.download-cv, .contact-button, .social-button {
  margin-left: auto;
  margin-right: 2.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.outline-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

.outline-button:hover {
  background-color: #fff;
  color: #333;
}

/* Hero Section */

#hero {
    color: white;
    position: relative;
    padding-left: 5rem;
    display: flex;
    height: 100vh;
}

h1 {
    font-size: 2.5vw;
    position: absolute;
    top: 43vh;
    color: rgba(224, 124, 30, 0.7);
}

#hero .bg {
    position: absolute;
    width: auto;
    right: 15rem;
}

#hero h2 {
    font-size: 6vw;
    font-weight: 500;
    position: absolute;
    top: 20vh;
    max-width: 70rem;
    line-height: 10rem;
}

#hero .greetings {
    position: absolute;
    font-size: 1.8rem;
    top: 52vh;
    display: flex;
    width: 40vw;
}

#hero h3 {
    max-width: 30vw;
    font-size: 1.4vw;
}

#hero img {
    width: 45vw;
}

#hero .container {
    z-index: 10;
}

/*TECHS*/

.stack {
    color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 5rem;
}

.stack h3 {
    font-size: 3rem;
    text-align: center;
    color: rgba(224, 124, 30, 0.7);
}

.stack h4 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    
}

.stack__logos {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    height: 10rem;
    justify-content: space-between;
}

.stack__logos figure {
    height: 100%;
    width: calc(100%/5);
    border: 2px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack__logos figure:last-child {
    border-right: 2px solid white;
}

.stack__logos img {
    filter: invert(100%);
    height: 80%;
}

/* About Me */

.about-me {
    padding: 0 5rem;
    margin-top: 15rem;
}

.about-me h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.about-me p {
    font-size: 2rem;
    font-weight: 300;
    width: 50%;
    position: relative;
}

.about-me p::after {
    content: " ";
    display: block;
    background-color: rgba(224, 124, 30, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
}

/* portfolio */

#portfolio {
    margin-top: 15rem;
    padding: 0 5rem;
    
}

#portfolio h2 {
    font-size: 4rem;
}

#portfolio h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 4rem;
    color: rgba(224, 124, 30, 0.7); 
}

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    min-width: 30%;
    width: 300px;
    max-width: 90%;
    border: 4px solid white;
    position: relative;
    margin: 3rem;
    transition: all 0.2s ease-in-out;
}

.project figure {
    width: 100%;
    height: 100%;
}

.project img {
    width: 100%;
    height: 100%;
}

.project .description {
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.project .description h4 {
    font-size: 3.5rem;
    font-weight: 700;
}

.project .description p {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.project .description .logos{
    width: 100%;
    height: 5%;
    filter: invert(100%);
    display: flex;
    justify-content: space-around;
}

.project .logos>img {
    width: 10%;
}

.project:hover figure img {
    filter: grayscale(100%) brightness(40%);
}

.project:hover .description {
    display: inherit;
}

.project:hover {
    scale: 1.1;
}

/* Contact */

#contact {
    margin-top: 15rem;
    padding: 0 5rem;
}

#contact h2 {
    font-size: 6rem;
    letter-spacing: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.colab {
    color: rgba(224, 124, 30, 0.7);
}

#contact .buttons {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#contact .buttons>div {
    margin-left: 0;
}

.filled {
    background-color: rgba(224, 124, 30, 0.7);
    border:none;
    z-index: 10;
}

.social-button {
    position: relative;
}

.filled:hover {
    background-color: rgba(224, 124, 30, 1);
    color: white;
}

.social__media {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: -170%;
    z-index: 1;
}

.social__media img {
    filter: invert(100%);
    width: 3.5rem;
    margin: 0 1rem;
}

.social__media img:hover {
    scale: 1.2;
}

.hide {
    display: none;
}

/* footer */

footer {
    height: 12vh;
    margin-top: 10rem;
    padding: 0 5rem;
}

footer hr {
    border: none;
    height: 1px;
    color: rgba(211, 211, 211, 0.5);
    background-color: rgba(211, 211, 211, 0.5);
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: 1vh;
}

footer .container div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

footer .container div:first-child .copy {
    padding-top: 4vh;
    color: rgba(211, 211, 211, 0.5);
    padding-bottom: 1rem;
}

footer ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer ul a {
    text-decoration: none;
    color: white;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-50%);
        z-index: -1 !important;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes dissappear {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}
